extends layout

block content
  if auth
    include ./fragments/auth-nav.jade
  else
    include ./fragments/un-auth-nav.jade
  .container
    if !auth
      .col-sm-7
        h1 Book trading station 
        span.glyphicon.glyphicon-book(style="font-size: 200px;color:#006dcc")
        
        h6 Borrow, trade and share books with real people
        include ./fragments/footer.jade
        
      include ./fragments/signup.jade
    else
      .row.text-center
        each book in data 
          .col-sm-6.col-md-4
            .thumbnail
              - var isb=book.bookisbn
              img(src='https://covers.openlibrary.org/b/isbn/'+isb+'-L.jpg')
              .caption
                h3=book.bookname
                if(book.username === authUsername)
                  p Added by : You
                else
                  p Added by :
                    span  #{book.username}
                if(book.status || book.username === authUsername)
                  a.btn.btn-sm.btn-primary.disabled(role="button") Request
                else
                  - var escbokname = book.bookname.replace(/ /g,'_');
                  a.btn.btn-sm.btn-primary.reqbook(id=escbokname role="button") Request

                
  
    
  
 