extends layout

block content
  if auth
    include ./fragments/auth-nav.jade
  else
    include ./fragments/un-auth-nav.jade
  .container
    if !auth
      .col-sm-7
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, commodi cumque sint unde maxime accusamus adipisci nemo quaerat aspernatur facere assumenda alias earum repellat nam velit nostrum itaque officia laudantium!
      
      include ./fragments/signup.jade
  
    
  
 