extends layout

block content
  include ./fragments/auth-nav.jade
  .col-xs-12.col-sm-8.col-sm-offset-2
    if(settError)
      .alert.alert-danger
        small Ooops something went wrong
    form(action='/settings' method="post")
      .form-group
        label Update 
        input(type="text" name='city' required class="form-control" placeholder="City")
        input(type="number" name='phone' minlength="10" required class="form-control" placeholder="Mobile Number")
        input(type="text" name='reqion' required class="form-control" placeholder="Country/State")
      button.btn.btn-primary(type="submit") Update