nav.navbar.navbar-inverse(style="border-radius: 0 !important;")
  .container-fluid
    .navbar-header
      button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-collapse-1" aria-expanded="false")
        span.sr-only toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/") Bookie - it
    .collapse.navbar-collapse(id="bs-collapse-1")
      ul.nav.navbar-nav.navbar-right
        li: a(href="/" ) Books
        li: a(href="/dashboard" ) Dashboard 
        li: a(href="/settings" data-target="#bs-collapse-1") Setting
        li: a(href="/logout") Sign out